body {
    background-color: antiquewhite;
    background-image: url("Fondo1.jpg");
    background-attachment: fixed;
    background-repeat: space;
    background-position: 100% 75%;
    font-family: "Helvetica", Arial;
}

#titulo {
    color: limegreen
}

#indice {
    background-color: rgba(0, 0, 0, .50);
    text-align: left;
    margin: 0 auto;
    width: 100;
    position: fixed;
    top: 2cm;
    left: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 20px;
}

tr,
td {
    background-color: rgba(13, 174, 35, .1);
    text-align: left;
    color: palegreen;
    border-bottom: 1px solid #ddd;
}

#barra_derecha {
    background-color: rgba(54, 25, 25, .5);
    text-align: left;
    margin: 0 auto;
    width: 10%;
    position: absolute;
    top: 2cm;
    color: white;
    right: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 20px;
}

img.foto_perfil {
    width: 100px:
}

#footer {
    width: 600px;
    height: auto;
    color: whitesmoke;
    margin: 0 auto;
    text-align: left;
    border-radius: 20px;
    padding: 20px;
}

#contenido {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #44BF28;
    font-family: cursive
}

h1#main {
    color: green;
}

nav ul li {
    /*display: inline-block;*/
    margin-right: 20px;
    color: hotpink;
    cursor: pointer;
}

#main {
    width: 600px;
    height: auto;
    background-color: rgba(12, 10, 15, 0.69);
    color: rgb(156, 180, 195);
    position: static;
    margin: 0 auto;
    text-align: left;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

a {
    color: red;
}

img.foto {
    float: left;
    margin: auto;
}

#miCanvas {
    position: absolute;
    bottom: auto;
    right: auto;
    border: solid;
}

